body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  margin-left: 13px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="url"],
.form-group textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}



.form-group textarea {
  height: 10px;
  resize: vertical;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  font-style: italic;
}

